$color-primary: #545455;
$color-secondary: #232352;
$color-tertiary: yellow;
$color-error: red;
$color-success: green;
$color-warning: orange;
$color-white:#fff;
$main-blue:#2D3192;
$main-orange:#ff931e;

